﻿.modal {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 1px;
    position: relative;

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000a6;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 500;
        color: #171717;
        padding-bottom: 5px;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 10px;
    }

    &-close {
        position: absolute;
        top: 3px;
        right: 7px;
        font-size: 1em;
        color: #b3b0b0 !important;
    }
}