﻿#nav {
    margin-bottom: 10px;
    background-color: #242b52 !important;
    padding: 0 20px;
    border-bottom: 1px solid #dfe0e2;

    .navbar-brand {
        text-transform: uppercase;
    }

    .nav-item {
        text-transform: uppercase;
        margin: 0 5px;

        a {
            color: #dcd9d9;
        }

        &:hover {
            a {
                color: #fff !important;
            }
        }
    }
}