﻿html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
} 

a {
    cursor: pointer;
}

.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 1px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary, .show > .btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #2037b5;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn.btn-secondary, .show > .btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #b1b1b1;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .btn.btn-warning, .show > .btn-warning.dropdown-toggle {
    color: #fff !important;
    background-color: #ffac30;
}

.form-control {
    border-radius: 1px;
    outline: none !important;
    box-shadow: none !important;
}

.form-actions {
    text-align: center;
}

.form-error {
    text-align: center;
    color: #e23a3a;
    margin-bottom: 5px;
}

p.info {
    text-align: center;
    color: #afafaf;
    margin: 0;
}

.separator {
    border-bottom: 1px solid #d8d8d8;
    margin: 10px 0;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #eae7e7;
    border-radius: 1px;
}

h1.title {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    color: #3e3e3e;
}

.align-right {
    text-align: right;
}

.table {
    td {
        padding: 5px;
    }
}

.cell-actions {
    a {
        margin-left: 5px;
    }
}