.topbar {
    display: flex;
    justify-content: space-around;

    &-link {
        color: #757575 !important;
        text-decoration: none !important;

        &:hover {
            color: #242b52 !important;
        }
    }
}