.career-item {
    background-color: #fff;
    padding: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    margin-bottom: 20px;
    transition: 0.1s;
    position: relative;

    &:hover {
        border: 1px solid #afafaf;
        transition: 0.1s;
    }

    &-date {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    &-name {
        font-size: 1.4em;
        text-transform: uppercase;
        padding: 5px 10px;
        transition: 0.1s;
    }
}